@using Podcaster.Web.Models.Account
@model LoginViewModel
@{
    ViewBag.Title = "Log in";
}

<h2>@ViewBag.Title.</h2>
<div class="row">
    @Html.Partial("_UserLoginPartial")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}