@using Podcaster.Web.Models.Account
@model LoginViewModel
@{
    ViewBag.Title = "Log in";
}

<h2>@ViewBag.Title.</h2>
<div class="row">
    <div class="col-md-8">
        @Html.Partial("_UserLoginPartial")
    </div>
</div>
