body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-image: url('Imgs/Grey-Texture-Background-and-Wallpaper-22.jpg');
    background-image: url('Imgs/White-christmas-light-background.png');
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/*-- Content Style --*/
.post-footer-option li{
    float:left;
    margin-right:50px;
    padding-bottom:15px;
}

.post-footer-option li a{
    color:#AFB4BD;
    font-weight:500;
    font-size:1.3rem;
}

.photo-profile{
    border:1px solid #DDD;    
}

.anchor-username h4{
    font-weight:bold;    
}

.anchor-time{
    color:#ADB2BB;
    font-size:1.2rem;
}

.post-footer-comment-wrapper{
    background-color:#F6F7F8;
}

#content-row {
    margin-top: 100px;
}

.dark-blue {
    color: lightgreen;
}

.btn-default {
    background-color: lightgreen;
}

#hm-big-heading {
    font-size: 50px;
}

.hm-big-text {
    font-size: 2em;
}