@model Podcaster.Web.Models.Podcast.PodcastViewModel

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

@Html.Partial("_PodcastDetailsPartial")
<p>
    @Html.ActionLink("Back to List", "Index")
</p>
