@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron text-center">
    <h1>Podcaster2.0</h1>
    <p class="lead">Podcaster2.0 is a free podcast service.</p>
</div>

<div class="row">
    <div class="col-md-6 text-center">
        <h2>Getting started</h2>
        <p>
            Podcaster2.0 gives you a powerful way to manage your favorite podcasts.
        </p>
        <p>
            <a class="btn btn-default" href=@Url.Action("About","Home")>About &raquo;</a>
        </p>
    </div>
    <div class="col-md-6 text-center">
        <h2>Contacts</h2>
        <p>
            You can contact us here:
        </p>
        <p>
            <a class="btn btn-default" href=@Url.Action("Contact","Home")>Contacts &raquo;</a>
        </p>
    </div>
</div>