@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_PublicPagesLayout.cshtml";
}

<div class="row">
    <div class="media-container-column mbr-white col-md-12 offset-md-0">
        <h1><strong>DRUMMERS</strong></h1>
    </div>  
</div>